* {
    margin: 0;
    padding: 0;
}
ul {
    list-style-type: none;
}

.api_button {
  margin: 10px 5px 10px;
  width: 150px;
  height: 30px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #91C9FF;
  outline: none;
  transition: 1s ease-in-out;
}
